#timer {
  color: red;
  font-size: 150%;
}

#problem-table > div {
  border: 1px solid black;
  display: inline-block;
  height: 55px;
  margin: 2px;
  padding: 10px;
  width: 90px;
}

#problem-table > div > input {
  width: 50px;
}

.correct {
  background-color: lawngreen;
}

.incorrect {
  background-color: red;
}
